requests==2.31.0
notion-client==2.2.1
pydantic==2.6.0
environs==10.3.0
streamlit==1.31.1
streamlit_extras==0.2.7
streamlit-elements==0.1.0
streamlit-carousel==0.0.4
google-api-python-client==2.119.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0